body{
    background-color: #d9dbd4;
}

.head-background{
    width: 100%;
    height: 15vh;
    background-color: #009688;
}

#container-chat{
    width: 1200px;
    height: 650px;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 10%;
}