body{
    background-color: #d9dbd4;
}

.head-background{
    width: 100%;
    height: 15vh;
    background-color: #009688;
}

#container-chat{
    width: 1200px;
    height: 650px;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
    flex-wrap: nowrap;
}

#chat-list{
    width: 30%;
    background-color: aqua;
    height: 650px;
    display: flex;
    flex-direction: column;
}

#chat-screen{
    width: 70%;
    background-color: purple;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.header-chat{
    background-color: #eaeaea;
}

.user-profile img{
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.icons i{
    font-size: 20px;
    color: #b1b1b1;
}